<!DOCTYPE html>
<html lang="ru">
<head>
	<title>{{ page.title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/theme/dark.css">
	<link
		rel="alternate"
		type="application/rss+xml"
		title="Подкаст про фронтенд"
		href="https://anchor.fm/s/13b79540/podcast/rss"
	>
</head>
<body>
	{{ content }}

	<footer class="footer">
		
		<iframe width="540" height="305" src="https://10fe1b66.sibforms.com/serve/MUIEAEqENoaUj7t0z1Xxcsgv2lc9rxXBpXKz3d_O7oPG3bKIIZcQ2FrdnM1gbFJPHI2GMamnkvC7iboP7mu_U-3i2Y1m8Jo4OX2zK91xa0tRYhE8cukyEIHHpsWjrWIQXISxmNOvR8GNyFl1NlBekfBs2Fx0ap1dk8v72lmnvMY39yWbtF0XAoE8vjcvnA9Ka4JEM2-wjDbkmulX" frameborder="0" scrolling="auto" allowfullscreen style="display: block;max-width: 100%;"></iframe>
	</footer>
	<!-- Yandex.Metrika counter --> <script type="text/javascript" > (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)}; m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)}) (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym"); ym(62161840, "init", { clickmap:true, trackLinks:true, accurateTrackBounce:true, trackHash:true }); </script> <noscript><div><img src="https://mc.yandex.ru/watch/62161840" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
</body>
</html>
